{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    {% include 'includes/head.html' %}
</head>

<body>

    {% include 'includes/navbar.html' %}
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    {% include 'includes/messages.html' %}
    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

</body>

</html>
